/*header*/

header{
    background: linear-gradient(#c0c0c0,#f0f0f0);
    padding-top: 15px;
}

.cabecalho{
    position: relative;
    width: 900px;
    margin:0 auto;
}

#logo:hover{
    transition: 1s;
    transform: scale(1.1);
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    text-decoration: none;
}

nav li{
display: inline;
margin-left: 15px;
}

nav a:hover{
    transition: 0.2s;
    color: #484443;
    text-decoration: underline;
}

.titulo-principal{
    color:rgb(14, 14, 15);
    text-align: center;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-transform: uppercase;
}

p{
    /*color:blue;*/
    text-align: justify;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 12px;
}

b{
    color:rgb(87, 86, 86);
    font-size: 26px;
    text-transform: capitalize;
}

strong{
    color:rgb(87, 86, 86);
    font-size: 26px;
    text-transform: capitalize;
}

u{
font-size: 20px;
}

h2{
    margin-left: 30px;
    font-size: 30px;
}

body{
    background-color: #c0c0c0;
    text-align: justify;
}

/*footer*/


footer{
    text-align: center;
    background-image: url(bg.jpg);
    padding: 15px 0px;
}

.redes a{
    margin: 0 10px;
    text-decoration: none;
}

.redes  img:hover{
    transition: 0.5s;
    transform: scale(1.5);
    opacity: 60%;
}

.copyright{
    font-size: 13px;
    color:white;
    margin-top: 15px;
}