h1{
color:blue;
text-align: center;
font-size: 36px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-transform: uppercase;
}

p{
    /*color:blue;*/
    text-align: justify;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 12px;
    text-transform: capitalize;
}

b{
    color:rgb(red, green, blue)
    font-size
}
strong{
color: rgb(red, green, blue);
font-size: 26px;
text-transform: capitalize;

}

u{
font-size: 18px;
}

h2{
margin-left: 30px;
font-size: 30px;
}

body{
    background-color: #c0c0c0;
    text-align: justify;
}




